body{width: 800px;
    margin-left: 70px;
    padding-right: 70px;
    background-color: ivory;}
h1{ padding-top: 20px;
    text-align: center;}
header{
    background-color: white;
    height: 300px;

}
nav{font-size: 15px;
    
}
nav ul li{
    list-style: none;
    display: inline-block;

    border: 10px solid;
    border-image: conic-gradient(#f5f551,#5eff5e,#84a1ff,#ff45ff,#ff5a5a,#ffbc41,#f5f551)1;
    height: 20px;
    
}
a{
    text-decoration: none;
    color: black;
}


main{width: 900px;}
h2{
    background: linear-gradient(to right,#e60000,#f39800,#fff100,
    #009944,#0068b7,#1d2088,#920783);
    
    background-clip:text;
    -webkit-background-clip: text;
    
    -webkit-text-fill-color: transparent;
    font-size: 30px;
    font-weight: bold;
    display: inline-block;
}
img{width: 400px;
    height: 400px;}

.rainbow{color: #fee724;
        text-shadow: -1px 0px #04dbff, 0px -1px #04dbff, 
        0px 1px #04dbff, 1px 0px #04dbff, 1px -2px #04dbff, 
        2px -3px #04dbff, 3px -4px #04dbff, 4px -5px #04dbff,
        5px -6px #04dbff, 2px -1px #04dbff, 3px -2px #04dbff, 
        4px -3px #04dbff, 5px -4px #04dbff, 6px -5px #04dbff;
        font-size: 30px;
        }
.berry{color: #e60000;
        text-shadow: 3px 3px 5px rgba(14, 51, 29, 0.5);
        font-size: 30px;
}
.love{color: white;
        text-shadow: -1px -1px #fb2eef,-1px -1px #fb2eef,
            1px 1px #fb2eef;
        font-size: 30px;
}
p{text-shadow: 1px 2px 2px black;
font-size: 20px;
}
footer{
    background-color: aqua;
}

